@using Microsoft.AspNetCore.Identity;
@using IctuTaekwondo.Shared.Models;
@inject SignInManager<User> signInManager;

<ul class="navbar-nav ms-auto">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
		</li>
	}
</ul>
