<footer class="border-t bg-white dark:bg-gray-800">
    <div class="mx-auto w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 dark:text-gray-400 sm:text-center">
            © 2025 <a href="/" class="hover:underline">IctuTaekwondo™</a>. Tất cả quyền được bảo lưu.
        </span>
        <ul class="mt-3 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="me-4 hover:underline md:me-6">Giới thiệu</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Privacy" class="me-4 hover:underline md:me-6">Chính sách</a>
            </li>
            <li>
                <a href="#" class="me-4 hover:underline md:me-6">Bản quyền</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Liên hệ</a>
            </li>
        </ul>
    </div>
</footer>
