<nav class="fixed top-0 z-50 w-full border-b border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-700">
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start rtl:justify-end">
				<a href="/" class="ms-2 flex md:me-24">
					<img src="https://flowbite.com/docs/images/logo.svg" class="me-3 h-8" alt="Logo" />
					<span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white sm:text-2xl">IctuTaekwondo</span>
				</a>
			</div>

			@await Component.InvokeAsync("Header")
		</div>
	</div>
</nav>